<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% for(let i=0;i< messages.length;i++){ %> <% if(messages[i].user===user){
    %>
    <p><%=messages[i].detail%></p>
    <% } } %>

    <a href="/">return to home</a>
  </body>
</html>
