<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/new" method="post">
      <input type="text" name="messageText" placeholder="message" />
      <input type="text" name="userName" placeholder="user" />
      <button type="submit">submit</button>
    </form>
  </body>
</html>
